:root {
    --checker-color-1: rgb(184, 184, 184);
    --checker-color-2: rgb(23, 23, 23);
    --checker-size: 4px;
    --checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);
}

/*highlighter style*/
/* :is(
	.highlightr-none,
	.highlightr-text-color,
	.highlightr-lowlight,
	.highlightr-floating,
	.highlightr-rounded,
	.highlightr-realistic
)
:is(
	mark:not(.style-demo),
	> mark,
	span.cm-highlight,
	.markdown-preview-view mark
) {
	pointer-events: inherit;
} */


/* none */
.highlightr-none mark:not(.style-demo),
.highlightr-none .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-none > mark.style-demo,
.highlightr-none span.cm-highlight {
	background-color: var(--hltr-color);
}

/* text-color */
.highlightr-text-color mark:not(.style-demo),
.highlightr-text-color .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-text-color > mark.style-demo,
.highlightr-text-color span.cm-highlight {
	color: var(--hltr-color);
	background: transparent;
	border-radius: 0;
	padding: 0;
}

/*lowlight*/
.highlightr-lowlight mark:not(.style-demo),
.highlightr-lowlight .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-lowlight > mark.style-demo,
.highlightr-lowlight span.cm-highlight {
	color: var(--text-normal, inherit);
	background-color: var(--hltr-color);
	--lowlight-background: var(--background-primary);
	border-radius: 0;
	background-image: linear-gradient(360deg,
		rgba(255, 255, 255, 0) 40%,
		var(--lowlight-background) 30%) !important;
}

.highlightr-lowlight .workspace-split.mod-left-split mark,
.highlightr-lowlight .workspace-split.mod-left-split span.cm-highlight,
.highlightr-lowlight .workspace-split.mod-left-split .markdown-preview-view mark,
.highlightr-lowlight .workspace-split.mod-right-split mark,
.highlightr-lowlight .workspace-split.mod-right-split span.cm-highlight,
.highlightr-lowlight .workspace-split.mod-right-split .markdown-preview-view mark {
	--lowlight-background: var(--background-secondary);
}

.highlightr-lowlight .admonition-content mark,
.highlightr-lowlight .admonition-content span.cm-highlight,
.highlightr-lowlight .admonition-content > .markdown-preview-view mark {
	--lowlight-background: var(--background-primary-alt);
}

/*floating*/
.highlightr-floating mark:not(.style-demo),
.highlightr-floating .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-floating > mark.style-demo,
.highlightr-floating span.cm-highlight {
	color: var(--text-normal, inherit);
	background-color: var(--hltr-color);
	--floating-background: var(--background-primary);
	border-radius: 0;
	padding-bottom: 5px;
	background-image: linear-gradient(360deg,
		rgba(255, 255, 255, 0) 28%,
		var(--floating-background) 28%) !important;
}

.highlightr-floating .workspace-split.mod-left-split mark,
.highlightr-floating .workspace-split.mod-left-split span.cm-highlight,
.highlightr-floating .workspace-split.mod-left-split .markdown-preview-view mark,
.highlightr-floating .workspace-split.mod-right-split mark,
.highlightr-floating .workspace-split.mod-right-split span.cm-highlight,
.highlightr-floating .workspace-split.mod-right-split .markdown-preview-view mark {
	--floating-background: var(--background-secondary);
}

.highlightr-floating .admonition-content mark,
.highlightr-floating .admonition-content span.cm-highlight,
.highlightr-floating .admonition-content > .markdown-preview-view mark {
	--floating-background: var(--background-primary-alt);
}

/*rounded*/
.highlightr-rounded mark:not(.style-demo),
.highlightr-rounded .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-rounded > mark.style-demo {
	color: var(--text-normal, inherit);
	background-color: var(--hltr-color);
	margin: 0 -0.05em;
	padding: 0.125em 0.15em;
	border-radius: 0.2em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.highlightr-rounded span.cm-highlight {
	border-radius: 0.2em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.highlightr-rounded .cm-s-obsidian span.cm-highlight {
	font-weight: inherit;
}

.highlightr-rounded .cm-highlight + span.cm-formatting-highlight {
	padding-left: 0em;
	padding-right: 0.15em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

/*realistic*/
.highlightr-realistic mark:not(.style-demo),
.highlightr-realistic .markdown-preview-view :is(mark[class], mark[style]):not(.style-demo),
.highlightr-realistic > mark.style-demo {
	color: var(--text-normal, inherit);
	background-color: var(--hltr-color);
	margin: 0 -0.05em;
	padding: 0.1em 0.4em;
	border-radius: 0.8em 0.3em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	text-shadow: 0 0 0.75em var(--background-primary-alt);
}

.highlightr-realistic.hide-tokens .cm-s-obsidian span.cm-highlight,
.hide-tokens.highlightr-realistic .cm-s-obsidian span.cm-highlight {
	border-radius: 0.8em 0.3em;
}

.highlightr-realistic .cm-s-obsidian span.cm-highlight {
	padding: 0.15em 0.25em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	text-shadow: 0 0 0.75em var(--background-primary-alt);
}

.highlightr-realistic .cm-s-obsidian span.cm-formatting-highlight {
	margin: 0 0 0 -0.05em;
	padding: 0.15em 0.25em;
	border-radius: 0.8em 0 0 0.3em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.highlightr-realistic .cm-s-obsidian .cm-highlight + span.cm-formatting-highlight {
	margin: 0 -0.05em 0 0;
	padding: 0.15em 0.25em;
	border-radius: 0 0.3em 0.8em 0;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

/* highlightr compact menu */
.menu.painter-plugin-menu-container.minimal {
	display: inline-flex;
	width: max-content;
	padding: 3px 3px;
	overflow-x: hidden;
}
.menu.painter-plugin-menu-container.minimal .menu-item {
	padding: 0;
	margin: 0;
	border-bottom: transparent;
	border-radius: 5px;

	justify-content: center;
	align-items: center;

	width: 1.75rem;
	height: 1.75rem;

}
.menu.painter-plugin-menu-container.minimal .menu-item .menu-item-title {
	display: none;
}
.menu.painter-plugin-menu-container.minimal .menu-item .menu-item-icon {
	height: min-content;
	width: min-content;
}
.menu.painter-plugin-menu-container.minimal .menu-separator {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(
		to right,
		transparent 0 3px,
		var(--background-modifier-border) 3px 4px,
		transparent 4px 7px
	);

	display: block;
	margin: 0;
	height: 1.75rem;
	width: 7px;
	border: none;
}

/*----------------------------------------------------------------
SETTINGS TAB
----------------------------------------------------------------*/

button.painter-plugin-settings-button {
	padding: 4px 14px;
	border-radius: 6px;
	height: fit-content;
	cursor: pointer;
}
button.painter-plugin-settings-button:disabled {
	cursor: not-allowed;
}
button.painter-plugin-settings-button:disabled:hover {
	background-color: var(--interactive-normal);
}

/* highlight style setting */
button.painter-plugin-settings-button svg {
	width: 1.3em;
	height: 1.3em;
	display: flex;
}
.painter-plugin-setting-item-pick-hl .setting-item-info {
	display: grid;
	grid-template: repeat(3, min-content) / 1fr min-content;
	grid-template-areas:
	"title title"
	"info info"
	"styledemo reroll";
	column-gap: 0.5rem;
}
.painter-plugin-setting-item-pick-hl .setting-item-info .setting-item-name {
	grid-area: title;
}
.painter-plugin-setting-item-pick-hl .setting-item-info .setting-item-description {
	grid-area: info;
}

/* color picker setting */
.painter-plugin-setting-item-pick-col {
	display: block;
}

.painter-plugin-setting-item-pick-col .setting-item-control {
	display: flex;
	margin-top: 12px;
	align-items: center;
	justify-content: start;
	gap: 6px;
}

.painter-plugin-settings-color {
	flex-grow: 1;
}

.painter-plugin-color-preview {
	display: block;
	background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);

	width: 32px; height: 32px;
	padding: 0; margin: 0;
	border-radius: 0;
}
.painter-plugin-color-preview2 {
	width: 100%;
	height: 100%;
}
.painter-plugin-style-demo {
	font-size: .925em; margin-top: 12px;
	display: flex;
	column-gap: 1rem;
}
  

.modal.mod-settings button:not(.mod-cta):not(.mod-warning).painter-plugin-settings-button.painter-plugin-settings-button-add,
button:not(.mod-cta):not(.mod-warning).painter-plugin-settings-button.painter-plugin-settings-button-add {
	background-color: var(--interactive-accent);
}

button:not(.mod-cta):not(.mod-warning).painter-plugin-settings-button:is(
	.painter-plugin-settings-button-delete, 
	.painter-plugin-settings-button-edit
) {
	background-color: #5e5f61;
	&:hover {
		background-color: #757679;
	}
}

.painter-plugin-setting-icon {
	display: flex;
	height: 24px;
	width: 24px;
}

.painter-plugin-item-color {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: min-content min-content 1fr;
	column-gap: 1rem;
	align-items: center;
	border-top: 1px solid var(--background-modifier-border);
}

#painter-plugin-sortable-group {
	border-bottom: 1px solid var(--background-modifier-border);
}
.painter-plugin-setting-handle {
	display: block;
	background-color: inherit;
	cursor: grab;
}
.painter-plugin-setting-handle > * {
	pointer-events: none;
}
.painter-plugin-ghost { opacity: 0 }

.painter-plugin-color-setting-item {
	padding: 0.4rem 0;
	border-top: none;
	user-select: text;
}
.painter-plugin-settings-textarea {
	resize: vertical;
}